{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Classroom</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        
        <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}